.layout-01,
.layout-02,
.layout-03,
.layout-04,
.layout-05 {
    background-color: rgba(50, 50, 50, 1);
    padding: 7px;
    height: 0;
    color: rgba(255, 255, 255, 0.8);
    text-align: justify;
    align-content: center;
    justify-content: top;
    border: 1px rgb(0, 0, 0, 0.2) solid;

}

.layout-01 {
    text-align: left;
    font-size: 2rem;
    font-weight: normal;
    line-height: 2.3rem;
    /* background-color: transparent; */
}

.layout-02 {
    text-align: center;
}

.layout-03 {
    padding: 0;
}

#NavbarLayout03 {
    border: none;
    height: 42px;
}

#NavbarLayout03 .fa-whatsapp {
    font-size: 1.2rem;
}

#NavbarLayout03 .fa-instagram {
    font-size: 1.2rem;
}

#NavbarLayout03 .fa-youtube {
    font-size: 1.2rem;
}

#NavbarLayout03 .fa-twitter {
    font-size: 1.2rem;
}

#NavbarLayout03 .fa-location-dot {
    font-size: 1.2rem;
}

#NavbarLayout03 .fa-envelope {
    font-size: 1.2rem;
}

#BannerImage .dx-gallery-item-content {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
}

.bannerimage {
    width: 90%;
}

.banner-image-title {
    font-weight: bold;
    line-height: 1.1rem;
    font-size: 0.8rem;
}

.layout-04 {
    position: relative;
    width: 100%;
    overflow: none;
    padding-top: 56.25%;
    /* Aspect Ratio ==> 16:9 (52.25%) ; 4:3 (75%) ; 3:2 (66.66%) */
    align-content: start ;
    justify-content: start;
    background-color: transparent;
    border: none;
}

/*YOUTUBE*/
.layout-04 .Introduction {
    position: absolute;
    padding: 7px;
    top: 10%;
    left: 10%;
    bottom: 10%;
    right: 10%;
    width: 80%;
    height: 80%;
    border: none;

}

/* ==================================================================== */
.layout-05 {
    /* margin-top: 2px; */
    padding-top: 10px;
}

.HomeLinkedPlatform-paging>b {
    color: greenyellow;
}

.HomeLinkedPlatform-dev {
    text-align: left;
    font-size: 1rem;
    margin: 10px 0 20px 0;
    color: orange;
}
.HomeLinkedPlatform-dev > i{
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.8);
}

.HomeLinkedPlatform-layout {
    /* float: left; */
    width: 100%;
    /* padding: 6px; */
    /* box-sizing: border-box; */
    /* background-color: transparent; */
    /* border-radius: 1rem; */
}

.HomeLinkedPlatform-item {
    text-align: justify;
    font-size: 1rem;
    /* background-color: rgba(0, 0, 0, 0.2); */
    /* border-radius: 1rem; */
}

.HomeLinkedPlatform-item img {
    width: 100%;
    height: auto;
    border-radius: 3rem 0 3rem 0;
}

#HomeLinkedPlatform .dx-button-content{
    text-align: justify;
    justify-content: left;
}

.HomeLinkedPlatform-item-detail {
    text-align: justify;
    /* padding: 5px; */
    font-size: 1rem;
}

.HomeLinkedPlatform-item-detail>i {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.8);
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* @media only screen and (max-width: 1366px) {
    .HomeLinkedPlatform-layout {
        width: 12.5%;
    }
} */

/* @media only screen and (max-width: 1280px) {
    .HomeLinkedPlatform-layout {
        width: 14.28571%;
    }
} */

/* @media only screen and (max-width: 1024px) {
    .HomeLinkedPlatform-layout {
        width: 16.66666%;
    }
} */

/* @media only screen and (max-width: 960px) {
    .HomeLinkedPlatform-layout {
        width: 19.99999%;
    }
} */

/* @media only screen and (max-width: 854px) {
    .HomeLinkedPlatform-layout {
        width: 24.99999%;
    }
} */

/* @media only screen and (max-width: 640px) {
    .HomeLinkedPlatform-layout {
        width: 24.99999%;
    }
} */

@media only screen and (max-width: 600px) {

    .layout-01,
    .layout-02,
    .layout-03,
    .layout-04,
    .layout-05 {
        background-color: transparent;
    }

    .layout-01 {
        text-align: center;
        font-size: 1.3rem;
        line-height: 1.5rem;
    }

    .bannerimage {
        width: 75%;
    }

    .layout-04 .Introduction {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}

/* @media only screen and (max-width: 360px) {
    .HomeLinkedPlatform-layout {
        width: 33.26666%;
    }
} */