html,
body {
  height: 100%;
  margin: 0 auto;
  font-size: 0.9rem;
  overflow-y: none;
}

*>a {
  text-decoration: none;
  font-weight: bold;
}

.dx-widget {
  font-size: 0.9rem;
}

#MainLayout {
  display: flex;
  flex-direction: column;
  width: inherit;
  height: inherit;
  overflow-y: none;
}

#LayoutHeader {
  justify-self: flex-start;
  vertical-align: middle;
  overflow-y: none;
  padding: 8px;
}

#LayoutHeader .dx-toolbar {
  background-color: transparent;
  align-items: center;
  vertical-align: middle;
  gap: 40px;
}

#LayoutHeader .dx-button {
  height: 46px;
  text-align: center;
}

#LayoutContent {
  /* display: flex; */
  flex: 1 1 auto;
  height:0;
  overflow-y: none;
}

#LayoutFooter {
  justify-self: flex-end;
  text-align: center;
  align-content: center;
  justify-content: center;
  vertical-align: middle;
  padding: 15px 0 15px 0;

  font-size: 0.8rem;
  font-family: inherit;
  overflow-y: none;
  border-top: rgba(100, 100, 100, 0.3) ridge;
}

/* ==================================================================================== */

.DevApp-Menu {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.2rem;
  font-size: 1rem;
}


/* ==================================================================================== */
.ContainsSidebar {
  padding: 0 3px 0 3px;
  background-color:rgb(49, 49, 49, 0.8);
}

/* ==================================================================================== */
#MainPage {
  display: flex;
  flex-direction: column;
  width: inherit;
  height: inherit;
  overflow: none;
}

/* ==================================================================================== */
#PageToolbar {
  justify-self: flex-start;
  padding: 10px;
  background-color: rgba(100, 100, 100, 0.4);
}

#PageContains {
  flex: 1 0 auto;
  height: 0;
  overflow: none;
  /* padding-top: 2px; */
  background-color: transparent;
}

/* ==================================================================================== */
.Page-Title {
  font-size: 1rem;
  color: rgba(28, 168, 221);
  font-weight: bold;
}

.separator {
  border: 1px rgba(0, 0, 0, 0.2) solid
}

#Gallerian {
  max-width: 325px;
  max-height: 245px;
}