html,
body {
  height: 100%;
  margin: 0 auto;
  font-size: 0.9rem;
  overflow: hidden;
}

*>a {
  text-decoration: none;
  font-weight: bold;
}

.dx-widget {
  font-size: 0.9rem;
}

.dx-toolbar {
  background-color: rgba(100, 100, 100, 0.2);
  min-height: 44px;
  padding: 4px 8px 4px 8px;
}

.dx-button {
  min-width: 52px;
  min-height: 36px;
  align-items: center;
}

.dx-buttongroup {
  padding: 0 5px 0 5px;
}

.toolbar-separator {
  border: 1px rgba(0, 0, 0, 0.2) solid
}

/* ==================================================================================== */
#MainLayout {
  display: flex;
  flex-direction: column;
  width: inherit;
  height: inherit;
  overflow: hidden;
}

/* ==================================================================================== */
#LayoutHeader {
  justify-self: flex-start;
  background-color: transparent;
  height: 66px;
  padding: 5px 8px 5px 8px;
}

#LayoutHeader .dx-button {
  height: 56px;
}

#LayoutHeader .dx-button .DevApp-Menu {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.2rem;
  font-size: 1rem;
}

/* ==================================================================================== */
#LayoutContent {
  justify-self: stretch;
  flex: 1 1 auto;
  height: 0;
  overflow: hidden;
}

/* ==================================================================================== */
#LayoutContent .ContainsSidebar {
  padding: 0 3px 0 3px;
  background-color: rgba(100, 100, 100, 0.1);
}

/* ==================================================================================== */
#MainPage {
  display: flex;
  flex-direction: column;
  width: inherit;
  height: inherit;
  overflow: hidden;
}

/* ==================================================================================== */
#PageToolbar {
  justify-self: flex-start;
}

.items-before {
  border-right: 1px rgba(100, 100, 100, 0.4) outset;
}

.items-after {
  border-left: 1px rgba(100, 100, 100, 0.4) inset;
}

.Page-Title {
  font-weight: bold;
  min-height: 36px;
  padding-left: 10px;
}

/* ==================================================================================== */
#PageContains {
  flex: 1 0 auto;
  height: 0;
  overflow: hidden;
  background-color: transparent;
}

/* ==================================================================================== */
#LayoutFooter {
  justify-self: flex-end;
  text-align: center;
  align-content: center;
  justify-content: center;
  vertical-align: middle;
  padding: 15px 0 15px 0;

  font-size: 0.8rem;
  font-family: inherit;
  overflow: hidden;
  border-top: rgba(100, 100, 100, 0.3) ridge;
}