html,
body {
  height: 100%;
  margin: 0 auto;
}

.DevApp {
  background: rgb(64, 65, 65);
  margin-bottom: 10px;
  /* padding: 5px; */
  border-width: 0 0 0 5px;
  border-style: inset;
  /* font-size: 2rem; */
}

.DevApp-Menu {
  font-style: italic;
  background: #58626d;

}

.DevApp-Customer {
  text-indent: 5px;
  font-size: 0.9rem;
  font-weight: bold;
}

.MainPageToolbar {
  display: inline-block;
  background: rgb(80, 81, 82);
  /* padding: 5px; */
  border-width: 0 16px 0 16px;
  border-style: double;
}

.Page-Title {
  text-indent: 5px;
  font-size: 0.9rem;
  font-weight: bold;
}

#Gallerian {
  max-width: 325px;
  max-height: 245px;
}

#GridInfoPesertaDidik {
  height: 100%;
  padding: 5px;
}




#view {
  background: inherit;
  padding: 5px;
}

.MainSidebar {
  background: rgb(49, 49, 49);
  padding: 3px;
  margin-right: 100px;
}

/* #ChildGridContainer{
  height: 100%;
  padding: 5px;
}

.dx-fieldset {
  padding: 5px;
  border-style: solid;
  border-width: thin;
  margin: 0 auto;
} */