#pdfMainPage {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1 1 auto;
  height: 100%;
  width: 100%;
  padding: 10px 5px 5px 5px;
  text-align: center;
  flex-wrap: wrap;
  /* justify-content: center; */
}

#pdfPageContainsToolbar {
  display: fixed;
  float: inherit;
  position: sticky;
  left: 0px;
  top: 0px;
  transform: translate(0px, 0px);
}

#pdfPageContainsToolbar .dx-button {
  padding: 10px 20px 10px 20px;
}

#pdfPageContains>canvas {
  padding: 10px;
  border-radius: 8px;
  margin: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
}