#UserMainPage {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1 1 auto;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
}

/* ==================================================================================== */
#UserPage {
  margin: 8px;
}