#UserMainPage {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1 1 auto;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
}

/* ==================================================================================== */


/* #UserAuthentication {
  margin: 8px;
} */

/* #UserPage {
  padding: 8px;
} */