#UserMainPage {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  flex: 1 1 auto;
  height: 100%;
  width: 100%;
  padding: 10px 5px 5px 5px;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}

/* ==================================================================================== */
#UserAuthorized {
  width: 300px;
  margin: auto;
  padding: 10px;

}

/* #btnSignInOut{
  border-radius: 25px;
  width: 75%;
  height: 36px;
  font-weight: bold;
  font-size: larger;
} */

.g_id_signin>* {
  display: inline-flex;
}


#UserPage {
  text-align: center;
  justify-content: center;
}

#UserPage .dx-button {
  margin: 0.5%;
}

.btnPageLayout {
  width: 19%;
}


@media only screen and (max-width: 960px) {
  #UserPage .dx-button {
    margin: 1%;
  }

  .btnPageLayout {
    width: 23%;
    /*split 4 */
  }

}

@media only screen and (max-width: 600px) {
  #UserPage .dx-button {
    margin: 1.5%;
  }

  .btnPageLayout {
    width: 30.33%;
    /* Split 3 */
  }

}

@media only screen and (max-width: 480px) {
  #UserPage .dx-button {
    margin: 0.9%;
  }

  .btnPageLayout {
    width: 48.2%;
  }

}

@media only screen and (max-width: 368px) {
  #UserPage .dx-button {
    margin: auto;
    margin-bottom: 10px;
  }

  .btnPageLayout {
    width: 100%;
  }
}