#UserMainPage {
  display: flex;
  flex-direction: column;
  overflow: none;
  flex: 1 1 auto;
  height: 100%;
  padding: 10px;
}

#Authentication {
  max-width: 25%;
  margin: auto;
  align-content: center;
  justify-content: center;
}

@media only screen and (max-width: 980px) {
  #Authentication {
    max-width: 50%;
  }
}

@media only screen and (max-width: 640px) {
  #Authentication {
    max-width: 70%;
  }
}


@media only screen and (max-width: 480px) {
  #Authentication {
    max-width: 90%;
  }
}