#PageContains{
  padding: 10px 5px 5px 5px;
}

#DashboardFileStorage {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1 1 auto;
  height: 100%;
  /* margin: 5px; */
  /* padding: 10px 5px 0 5px; */
}

.photo-popup-content {
  text-align: center;
}

.photo-popup-content .photo-popup-image {
  height: auto;
  width: 100%;
}