html,
body {
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.dx-button {
  min-width: 52px;
}

.dx-accordion-item {
  margin: 10px 0 0 0;
  border-radius: 4px;
  /* border: none; */
}

.dx-accordion-item-title,
.dx-accordion-item-opened>.dx-accordion-item-title {
  background-color: rgba(100, 100, 100, 0.2);
  font-size: inherit;
  font-weight: bold;
  min-height: 32px;
  padding: 8px;
}

/* =========================================================================================== */
.dx-form {
  padding: 20px 8px 8px 8px;
  border-radius: 8px;
  /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7); */
}

.dx-form-group-caption {
  display: block;
  font-size: small;
  font-weight: bold;
  background-color: rgba(28, 168, 221);
  color: rgb(24, 24, 24);
  padding: 5px 8px 5px 8px;
  border-radius: 4px;
}

.dx-form-group-with-caption>.dx-form-group-content {
  padding-top: 10px;
  border-top: none;
}

.dx-form>* .dx-textarea{
  padding-top: 8px;
  font-size: inherit;
  font-style: inherit;
}

.dx-form>* .dx-texteditor-input {
  padding: 13px 5px 5px 5px;
  height: auto;
  font-size: inherit;
  font-style: inherit;
  line-height: 1.1rem;
}

.dx-form>* .dx-texteditor-label {
  background-color: transparent;
  font-size: inherit;
  font-style: inherit;
  height: auto;
  text-wrap: wrap;
}

.dx-form>* .dx-texteditor-label span {
  top: -3px;
  font-size: inherit;
  border-radius: 4px;
}

/* ===================================================================================== */
.dx-layout-manager .dx-tabpanel .dx-multiview-item-content {
  padding: 20px 10px 10px 10px;
}

.dx-tabs-wrapper {
  background-color: transparent;
}

.dx-tabpanel-tabs .dx-tab-content {
  font-weight: bold;
  padding: 4px 8px 4px 8px;
  background-color: rgba(100,100,100,0.2);
  border-radius: 4px;
  min-width: 148px;
  text-align: center;
}

.dx-tab.dx-tab-selected .dx-tab-content {
  background-color: rgba(255, 153, 0, 0.7);
  color: rgb(24, 24, 24);
}

.dx-list-group-header {
  background-color: rgba(100, 100, 100, 0.2);
}

/* ==================================================================================== */
#MainLayout {
  display: flex;
  flex-direction: column;
  width: inherit;
  height: inherit;
  overflow: hidden;
}

/* ==================================================================================== */
#LayoutHeader {
  justify-self: flex-start;
  text-align: center;
  align-content: center;
  padding: 8px;
}

#elHeader-002 .dx-button-content {
  padding-block: 1px;
  padding: 0;
}

#elHeader-002 {
  min-width: 0;
  border-radius: 50%;
  margin-right: 8px;
}

#LayoutContent {
  justify-self: stretch;
  flex: 1 1 auto;
  /* height: 100%; */
  overflow: hidden;
}

#LayoutFooter {
  justify-self: flex-end;
  text-align: center;
  padding: 8px 0 8px 0;
  border-top: rgba(100, 100, 100, 0.3) ridge;
}

/* ==================================================================================== */
#LayoutContent .ContainsSidebar {
  background-color: rgba(100, 100, 100, 0.1);
}

/* ==================================================================================== */
#MainPage {
  display: flex;
  flex-direction: column;
  width: inherit;
  height: inherit;
  overflow: hidden;
}

/* ==================================================================================== */
#PageToolbar {
  justify-self: flex-start;
  text-align: center;
  padding: 4px 8px 4px 8px;
  background-color: rgba(100, 100, 100, 0.2);
}

#PageToolbar .Page-Title {
  font-size: 0.9rem;
  font-weight: bold;
  padding-left: 10px;
}

#PageToolbar>* .items-before {
  border-right-width: 1px;
  border-right-color: inherit;
  border-right-style: outset;
}

#PageToolbar>* .items-after {
  border-left-width: 1px;
  border-left-color: inherit;
  border-left-style: inset;
}

/* ==================================================================================== */
#PageContains {
  flex: 1 0 auto;
  height: 0;
  overflow: hidden;
  background-color: transparent;
}

/* ==================================================================================== */
.pageButton {
  width: 15.66%;
  margin: 0.5%;
}

.pageButton .itemPageButtton {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.pageButton .itemPageButtton .itemPageButtonIcon {
  justify-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px 10px 10px;
}

.pageButton .itemPageButtton .itemPageButtonCaption {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(100, 100, 100, 0.2);
  height: 100%;
  padding: 5px;
  border-radius: 5px;
}

/* ==================================================================================== */
@media only screen and (max-width: 1280px) {
  .pageButton {
    margin: 0.5%;
    width: 19%;
  }
}

@media only screen and (max-width: 960px) {

  #LayoutContent .ContainsSidebar {
    padding: 0 3px 0 3px;
    background-color: rgba(36, 36, 36, 0.95);
  }

  .pageButton {
    margin: 1%;
    width: 23%;
  }

}

@media only screen and (max-width: 600px) {
  .pageButton {
    margin: 1.5%;
    width: 30.33%;
  }

}

@media only screen and (max-width: 480px) {
  .pageButton {
    margin: 0.9%;
    width: 48.2%;
  }

}

@media only screen and (max-width: 368px) {
  .pageButton {
    margin: auto;
    margin-bottom: 10px;
    width: 100%;
  }
}