#privacyandtermsMainPage {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1 0 auto;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    padding: 10px 5px 0 5px;
  }